{% extends 'base.html' %}

{% block title %}My Portfolio{% endblock %}

{% block content %}
<h1 class="text-center my-4">Welcome to My Portfolio</h1>
<div class="row">
    {% for project in projects %}
    <div class="col-md-4 mb-4">
        <div class="card shadow">
            <img src="{{ project.image.url }}" class="card-img-top" alt="{{ project.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description }}</p>
                <a href="{{ project.link }}" class="btn btn-primary">
                    <i class="bi bi-link"></i> View Project
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}